# Desafio Pessoal

## Meu objetivo foi carregar uma base de dados de resultados de um Cross Validation e criar uma função que tira a média dos 5 folds segundo a métrica F1-Score para cada classe em cada técnica de classificação.

In [98]:
import pandas as pd
import numpy as np

In [128]:
#Lendo/Acessando a base
df = pd.read_csv('Results.csv')

In [127]:
#Visualizando a base
df

       Unnamed: 0  precision  recall  f1-score  support    Fold      Classif.
0         Dropout       0.82    0.63      0.71   285.00  Fold_1  DecisionTree
1        Enrolled       0.40    0.48      0.44   159.00  Fold_1  DecisionTree
2        Graduate       0.78    0.84      0.81   441.00  Fold_1  DecisionTree
3        accuracy       0.71    0.71      0.71     0.71  Fold_1  DecisionTree
4       macro avg       0.67    0.65      0.65   885.00  Fold_1  DecisionTree
..            ...        ...     ...       ...      ...     ...           ...
175      Enrolled       0.41    0.54      0.47   158.00  Fold_5           SVM
176      Graduate       0.82    0.80      0.81   442.00  Fold_5           SVM
177      accuracy       0.71    0.71      0.71     0.71  Fold_5           SVM
178     macro avg       0.68    0.67      0.67   884.00  Fold_5           SVM
179  weighted avg       0.74    0.71      0.72   884.00  Fold_5           SVM

[180 rows x 7 columns]

In [66]:
#Conhecendo as técnicas presentes no dataframe ao consultar os valores que compôe a referida coluna
df['Classif.'].value_counts()

DecisionTree         30
NaiveBayes           30
KNN                  30
LogisticRegressio    30
RandomForest         30
SVM                  30
Name: Classif., dtype: int64

In [131]:
#Conhecendo as classes presentes no dataframe
df['Unnamed: 0'].value_counts()

Dropout         30
Enrolled        30
Graduate        30
accuracy        30
macro avg       30
weighted avg    30
Name: Unnamed: 0, dtype: int64

Como eu precisava filtrar a base, decidi realizar testes com as máscaras e ver o que cada uma apresentava

In [107]:
filter1 = df['Classif.'] == 'DecisionTree'
filter1 = df[filter1]

In [94]:
filter2 = filter1['Unnamed: 0'] == 'Graduate'

In [95]:
GDT = filter1[filter2]

In [132]:
GDT

    Unnamed: 0  precision  recall  f1-score  support    Fold      Classif.
2     Graduate       0.78    0.84      0.81    441.0  Fold_1  DecisionTree
38    Graduate       0.83    0.78      0.80    442.0  Fold_2  DecisionTree
74    Graduate       0.82    0.85      0.84    442.0  Fold_3  DecisionTree
110   Graduate       0.78    0.89      0.83    442.0  Fold_4  DecisionTree
146   Graduate       0.78    0.86      0.82    442.0  Fold_5  DecisionTree

Após obter o resultado esperado, calculei a média da coluna f1-score. Após realizar esses teste, pude projetar a função que calcula a média das classes para cada técnica.

In [97]:
GDT['f1-score'].mean()

0.8200000000000001

### FUNÇÃO

In [110]:
classifiers = ['DecisionTree', 'NaiveBayes', 'KNN', 'LogisticRegressio', 'RandomForest', 'SVM']

In [111]:
classes = ['Graduate', 'Dropout', 'Enrolled' ]

In [124]:
def average_table (classifiers, classes, df):
    result = {}
    result = pd.DataFrame(result)
    for i in classifiers:
        filter1 = df['Classif.'] == i
        filter1 = df[filter1]
        for j in classes:
            
            filter2 = filter1['Unnamed: 0'] == j 
            dfresult = filter1[filter2]
            avarage = dfresult['f1-score'].mean()
            result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
    return result

In [126]:
average_table(classifiers, classes, df)

C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)
C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9612\1636128820.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'Classifiers': i, 'Class': j, 'Average': avarage}, ignore_index = True)

          Classifiers     Class  Average
0        DecisionTree  Graduate    0.820
1        DecisionTree   Dropout    0.732
2        DecisionTree  Enrolled    0.450
3          NaiveBayes  Graduate    0.714
4          NaiveBayes   Dropout    0.688
5          NaiveBayes  Enrolled    0.410
6                 KNN  Graduate    0.712
7                 KNN   Dropout    0.618
8                 KNN  Enrolled    0.382
9   LogisticRegressio  Graduate    0.840
10  LogisticRegressio   Dropout    0.766
11  LogisticRegressio  Enrolled    0.484
12       RandomForest  Graduate    0.854
13       RandomForest   Dropout    0.786
14       RandomForest  Enrolled    0.504
15                SVM  Graduate    0.830
16                SVM   Dropout    0.748
17                SVM  Enrolled    0.494

Como resultado, apresento essa tabela que mostra a média F1-score dos 5 folds para cada classe e em cada técnica.